/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18-mar-2019, 9.41.33
    Author     : picci
*/
*{
    box-sizing: border-box;
}
font{

}
html,body{
    height: 100%;
    margin:0px;
    padding:0px;
}
header{
    width: 100%;
    height: 100px;
    background-color:#201d1d;
    border-style: solid;
    border-color: black;
    display: inline;
    float: left;
    margin: 0px;
    padding: 0px;
    color:#c6c4c4;
}
nav{
    float: left;
    width: 20%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 25px;
    border-style: solid;
    border-color: black;
    background-color:#0a0909;
    color:#c6c4c4;
}
main{
    float:right;
    width: 80%;
    height: 100%;
    border-style: solid;
    border-color: black;
    background-color:#201d1d;
    color:#c6c4c4;
}
a{
    text-decoration: none;
}
a:link{
    color:#c6c4c4;
}
a:visited{
    color:#c6c4c4;
}
a:hover{
    color:white;
}

.signIn{
    border-style:solid;
    border-color: black;
    width: 400px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    position:relative;
    top:60px;
}

#nome,#psw,#bottoneLogin{
    width:300px;
    height:50px;
}
#bottoneLogin{
    font-size: 35px;
}
#login{
    position: relative;
    left:50px;
    top:60px;
    font-size:30px;
}
.signIn input{
    font-size:25px;
}
#titoloLogin{
    text-align: center;
    position: relative;
    top:60px;
    font-size:50px;
}
h1,h2,h3{
    font-weight: bold;
}
h1{
    font-size: 45px;
}
table{
    border-collapse: collapse;
    width:85%;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    position:relative;
    top:100px;
}
.intestazione{
    background-color:#525151;
    font-size:30px;
}
th,td{
    border:solid;
    border-color: black;
    margin:0px;
    padding:0px;
}
.riga_pari{
    background-color:#808080;
}
td{
    text-align: center;
    font-size: 25px;
}

#bottone-articolo{
    width: 85%;
    height: 80px;
    position: relative;
    top:120px;
    left:90px;
    font-size: 30px;
    border-style: solid;
    border-color: black;

}
.form_articolo{
    height: 600px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.form_articolo input{
    height: 30px;
    width: 20px;
}
.form_articolo label{
    display:block;
    font-size:30px;
    float:left;
    width: 150px;
}
#scriviArticolo{
    text-align: center;
}

#titolo,#immagine,#id_data,#blocco_categorie{
    position: relative;
    left:20px;
}
#testo label textarea{
    float:left;
}
#testo textarea{
    position: relative;
    left:20px;
    width: 432px;
}
#bottoneInvia{
    position: relative;
    left:170px;
    width: 432px;
    height: 30px;  
    font-size:25px;
    text-align: center;
}
#immagine input{
    width: 432px;
}
#id_autore{
    width: 432px;
}
#titolo{
   width: 432px;
}
#id_data input{
    width: 432px;
}
#blocco_categorie input{
    width: 20px;
    height: 20px;
}
#id_autore{
    position: relative;
    left:20px;
}
#autori{
    font-size: 25px;
    position: relative;
    left:20px;
}
#autori p{
        margin:0;
}
.form_signup{
    width:800px;
    height: 400px;
    border-style:solid;
        border-color: black;
    font-size:35px;
    margin-right:auto;
    margin-left: auto;
}
.form_signup label{
    display:block;
    font-size:30px;
    float:left;
    width: 150px;
}
.form_signup input{
    position: relative;
    left:  30px;
    height: 35px;
    width: 500px;
}
#bottoneSalva{
    width: 680px;
    height: 40px;
    font-size: 25px;
    text-align: center;
}
#signup{
    position: relative;
    left:60px;
    top:30px;
}
#cancella{
    width:100px;
}
.form_signup a{
    position: relative;
    left:600px;
    font-size: 20px;
}
#logo_titolo h1{
    text-align: center;
}
#div-menu ul{ 
    margin: 0px;
}
#div-menu{
    height: 100px;
    width: 100%;
}
#div-menu li{
    float: left; 
    display: inline;
    width: 25%;
    height: 100px;
    text-align: center;
    font-size: 35px;
    position: relative;
    left:20%;
    bottom: 65px;
}
#titolo{
    float:left;
}
#articoli{
    position: relative;
    top:50px;
}
#daValutare{
    position: relative;
    top:90px;
}
#benvenuto li{
    list-style-type: none;
}
#bottoneLogout{
    width: 160px;
    height: 30px;
    position: relative;
    bottom: 30px;
    border-style: solid;
    border-color: black;
}
#titoloValutazione{
    text-align: center;
    position: relative;
    bottom:30px;
}
.articolo{
    height: 100%;
    position: relative;
    bottom:70px;
}
#listaAutori{
    list-style-type: none;
    padding:0px;
}
#comm_autori,#comm_organizza